# Node modules
node_modules/

# Environment variables
.env

# IDE/editor specific files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency directories
pids/
logs/
results/

# Debugging logs
npm-debug.log*

# Yarn integrity file
.yarn-integrity
