@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #e7e7e7;
    color: #333;
}

body {
    font-family: "Arial", sans-serif;
    background: #d4d4d4;
    max-height: 100vh;
    max-width: 100vw;
}

.myShadwo:hover {
    box-shadow: inset 3px 3px 5px rgb(184, 184, 184),
        3px 3px 5px rgb(255, 255, 255);
}
.myShadwo {
    background-color: #eeeeee;
    box-shadow: 3px 3px 7px rgb(153, 153, 153), inset 3px 3px 10px #ffffff;
}
.myShadwo2 {
    background-color: rgb(238, 238, 238);
    box-shadow: inset 5px 5px 5px rgb(184, 184, 184),
        2px 2px 5px rgb(255, 255, 255);
}
input:focus {
    outline: none;
}
.Flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 7px 0px;
}

@keyframes custom-enter {
    0% {
        transform: translateY(-100%);
    }
    90% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes custom-exit {
    form {
        transform: translateX(-100%);
    }
}

.btnclick {
  background-color: rgba(203, 245, 255, 0.822);
  color: rgb(0, 4, 255);
  padding: 7px;
  box-shadow: 0px 6px 0px rgb(110, 110, 110);
  transition: all 0.2s ease;
  transform: rotate3d(0.5, 0, 0, 18deg);
  text-align: center;
  font-size: 24px;
  cursor: pointer;
text-align: center;
z-index: 1;
}

.btnclick:active {
  background-color: rgb(72, 255, 0);
  color: rgb(0, 2, 204);
  box-shadow: 0px 0px 0px rgb(58, 58, 58);
  transform: rotat3d(0, 0, 0, 0deg) scale(0.9);
  position: relative;
  top: 4px;
}
